@CHARSET "UTF-8";
 #map {
    height: 400px;
/*     width: 100%; */
}
#listeRestaurants { padding-left:15px; }
.note { color: orange; }
.star { color: grey; }
.flex-center { 
	display: -webkit-flex; 
	display: flex; 
	-webkit-justify-content: center; 
	justify-content: center; 
}
.yelpLogo {
	position: absolute;
	top: 0;
	right: 0;
}
.badge {
    background-color : #d9534f;
}